<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<style>
.options {
  background-color: MediumSeaGreen;
  color: white;
  font-size: 30px;
  border: 3px solid black;
  margin: 80px;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.title {
text-align: center;
color: black;
font-size: 45px;
}



</style>

<script>
    function goToBookingPage() {
    window.location.href="http://localhost:8080/booking";
    }

    function goToBookedCabs() {
    window.location.href="";
    }

</script>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Online Cab Booking System</a>
        <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/><br/>
<div class="container">
    <div class="row">
        <h1 class="title"> ÜberLite </h1>
    </div>
</div>

<div class="text-center">
    <button class="options" onclick="goToBookingPage()">BOOK A CAB</button>
    <button class="options" onclick="goToBookedCabs()">BOOKINGS</button>
</div>
</body>
</html>